"*":
  aligner:
    ":-alignment": "left"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "markdown-preview"
      "markdown-preview-plus"
      "platformio-ide"
      "platformio-ide-terminal"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    autoIndent: false
    fontFamily: "Input Mono Condensed"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabType: "hard"
  "gist-it":
    openAfterCreate: true
    userToken: "801157d04172283e53e881af6e8cdb47a7c5e51d"
  hex: {}
  linter: {}
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    useGitHubStyle: true
  "platformio-ide":
    showHomeScreen: false
  "platformio-ide-terminal":
    core:
      autoRunCommand: "export PATH=/Users/kodikodytis/dotfiles/atom.symlink/packages/platformio-ide/penv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:./bin:/usr/local/sbin:/Users/kodikodytis/dotfiles/bin:/Users/kodikodytis/.rbenv/shims:/Users/kodikodytis/code/go/bin:/usr/local/bin"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "source.cpp"
      "source.c"
    ]
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
